@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(16, 17, 18);
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  display: flex;
  justify-content: center;
}

.nav {
  margin: 3rem 0;
  width: 100%;
  background-color: rgb(39, 40, 41);
  height: 48px;
  width: 346px;
  border-radius: 12px;

  &-container {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
  }

  &-item {
    background-color: transparent;
    height: 36px;
    width: 36px;
    border-radius: 6px;
    transition: 100ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      background-color: rgb(145, 75, 241);
      cursor: pointer;
    }
  }

  &-icon {
    stroke: white;
  }

  &-tooltip {
    position: absolute;
    top: 150%; /* Position above the text */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap; /* Prevents text from wrapping */
    z-index: 10;
    white-space: nowrap;
    width: 56px;
    height: 15px;
    font-size: 12px;
  }

  &-item:hover .nav-tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px); /* Slight upward movement */
  }
}
